{% extends "mail/basic.html" %}
{% block title %}Mail Index Page{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<h1>Mail Send Page!</h1>
<div class="">
    <p>发送0邮件</p>
    <form method="post" action="{{ url_for('.add') }}">
        <input name="title" placeholder="title"><br><br>
        <div></div>
        <textarea name="content" placeholder="content" rows="10"></textarea>
        <input type="hidden" name="receiver_id" value="{{ receiver_id }}"><br>
        <button>发送邮件</button>
    </form>
</div>

{% endblock %}